
<div class="jumbotron">
    <h1 class="display-4">Gizmodo Tech News Scraper</h1>
    <p class="lead">This web app allows visitors to view and leave comments on the latest tech news scraped from Gizmodo.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-warning btn-md" href="#" role="button">Scrape New Articles</a>
        <a class="btn btn-warning btn-md" href="#" role="button">Saved Articles</a>
        <a class="btn btn-secondary btn-md" href="#" role="button">Home</a>
    </p>
</div>

<div class="card">
    <div class="card-header">
    <h5 class="card-title">Headline Title</h5>
    </div>
    <div class="card-body">
    
    <p class="card-text">This right here is the article description. Because the article description naturally goes here.</p>
    <a href="#" class="btn btn-warning btn-md">Save this article</a>
    </div>
</div>


